// @import '../../variables/variables';
// Imports individual border utility files for specific sides.

// Border utility classes for specific sides using specified colors.
@mixin border($color) {
  border: 0.1rem solid $color;
}

@for $i from 1 through length($colors) {
  // Generates classes for borders with individual color names.
  .b-#{nth($color-names,$i)} {
    @include border(nth($colors, $i));
  }
}

@mixin border-curve($color) {
  border: 0.1rem solid $color;
  border-radius: 1rem;
}

@for $i from 1 through length($colors) {
  // Creates classes for bottom curve border using color names.
  .b-curve-#{nth($color-names,$i)} {
    @include border-curve(nth($colors, $i));
  }
}

// Border Style
.neumorphic-border {
  border: 1px solid #cbced1; // Neumorphic border color
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #ffffff; // Neumorphic shadow
}