// Define color variables
// $primary: #0074d9;
// $dark: #000000;
// $alert: #dc143c;
// $leaf: #228b22;
// $orange: #ff4500;
// $yellow: #ffd700;
// $gray: #708090;
// $purple: #967bb6;
// $choco: #d2691e;
// $pink: #ff69b4;
// $white: #ffffff;
// $neugray : #f0f0f0;

// List of colors
$colors: map-keys(Syntax(colors));

// Names for colors
$color-names: map-values(Syntax(colors));

$colors-list : Syntax(colors);
// Updated Get-Color function
@function Get-Color($color) {
  @return map-get($colors-list, $color)
}

// Get Shade of a Color
@function Shade($color, $amount) {
    // @return darken($color, abs($amount*5));
    @return $color
}
