//colors
@import './colors';

// default
$default-padding : 1rem;
$default-margin : 1rem;


//fonts
$default-font : 'Poppins',
sans-serif;
$text-font : 'Poppins',
sans-serif;
$heading-font : 'Poppins',
sans-serif;


//units
$base-unit-padding : 1;
$base-unit-margin : 1;

//grid
$grid-columns: 12;

//card
$card-padding :0.75rem;
$card-margin : 0.75rem;
$card-border-thickness : 0 0.2rem 0.2rem 0;
$card-border-radius : 1.25rem;
$card-border-shadow : 0.0625rem 0.1875rem 0.3125rem rgba(0,0,0,0.1);
$card-font-size : 1rem;





//breakpoints
// Define your breakpoints
$xxs: 320px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;
$xxl: 1600px;
$xxxl: 1920px;