<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/index.css">
</head>

<body class="pd-1">
    <div class="card bg-white b-curve-gray center mg-y-2">
        <a href="#">
            <h2 class="font-bold">
                Noteworthy technology acquisitions 2021
            </h2>
        </a>
        <p class="font-gray">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <button class="btn-curve flex">
            <a>Read More</a>
        </button>
    </div>
</body>

</html>