// Align utility classes
// Flex content alignment
.#{Syntax(align)}-start {
  align-content: flex-start;
}
.#{Syntax(align)}-end {
  align-content: flex-end;
}
.#{Syntax(align)}-#{Syntax(center)} {
  align-content: center;
}
.#{Syntax(align)}-stretch {
  align-content: stretch;
}
.#{Syntax(align)}-space {
  align-content: space-around;
}


// float none
.no-float{
  float : none;
}