// align

.align-start{
    align-content: flex-start;
}
.align-end{
    align-content: flex-end;
}
.align-center{
    align-content: center;
}
.align-stretch{
    align-content: stretch;
}
.align-space{
    align-content: space-around;
}
