// Display property utilities
// Flex and grid container utilities

// Inline-flex container utility
.inline-flex {
  display: inline-flex;
}

// Block element utility
.block {
  display: block;
}

// Inline element utility
.inline {
  display: inline;
}

// Inline-block element utility
.inline-block {
  display: inline-block;
}

// Hidden
.hide{
  display : none;
}

//Table
.table{
  display : table;
}

.inline-table{
  display:inline-table;
}

.table-col{
  display : table-column;
}

.table-footer{
  display: table-footer-group;
}

.table-header{
  display: table-header-group;
}

.flow-root{
  display : flow-root;
}

.list-items{
 display: list-item; 
}