// Flex container and items
.flex {
  //Display flex
  display: flex;
  
  // Flex items
  .flex-item {
    flex: 1;
  }

  // Flex directions
  .flex-row {
    flex-direction: row;
  }
  .flex-col {
    flex-direction: column;
  }

  // Flex wrapping
  .flex-wrap {
    flex-wrap: wrap;
  }

  // Flex justify content
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .flex-center {
    justify-content: center;
  }
  .flex-stretch {
    justify-content: stretch;
  }
  .flex-space {
    justify-content: space-around;
  }
}
