// Importing variables file

@import "../variables/variables";

// Margin syntax: mg-{some number} compiled as: margin: {some number};

// Margin utility mixin
@mixin margin-utility($num) {
  .#{nth(Syntax(margin),1)}-#{$num} {
    margin: #{$num * $base-unit-margin}rem;
  }
}

// Including margin utility for different values

// Syntax: pd-{direction}-{some number} compiled as: margin-{direction}: {some number};

// Margin top utility
@mixin margin-top-utility($num) {
  .#{nth(Syntax(margin),1)}-top-#{$num} {
    margin-top: #{$num * $base-unit-margin}rem;
  }
}

// Including margin top utility for different values

// Margin bottom utility
@mixin margin-bottom-utility($num) {
  .#{nth(Syntax(margin),1)}-bottom-#{$num} {
    margin-bottom: #{$num * $base-unit-margin}rem;
  }
}

// Including margin bottom utility for different values

// Margin right utility
@mixin margin-right-utility($num) {
  .#{nth(Syntax(margin),1)}-right-#{$num} {
    margin-right: #{$num * $base-unit-margin}rem;
  }
}

// Including margin right utility for different values

// Margin left utility
@mixin margin-left-utility($num) {
  .#{nth(Syntax(margin),1)}-left-#{$num} {
    margin-left: #{$num * $base-unit-margin}rem;
  }
}

// Including margin left utility for different values

// Margin horizontal utility
@mixin margin-horizontal-utility($num) {
  .#{nth(Syntax(margin),1)}-x-#{$num} {
    margin-right: #{$num * $base-unit-margin}rem;
    margin-left: #{$num * $base-unit-margin}rem;
  }
}

// Including margin horizontal utility for different values

// Margin vertical utility
@mixin margin-vertical-utility($num) {
  .#{nth(Syntax(margin),1)}-y-#{$num} {
    margin-top: #{$num * $base-unit-margin}rem;
    margin-bottom: #{$num * $base-unit-margin}rem;
  }
}





$nums : 4;

@if(nth(Syntax(margin),2)){
	$nums : nth(Syntax(margin),2);
}

@for $i from 1 through $nums{
	@include margin-left-utility($i);
	@include margin-right-utility($i);
	@include margin-bottom-utility($i);
	@include margin-top-utility($i);
	@include margin-utility($i);
	@include margin-horizontal-utility($i);
	@include margin-vertical-utility($i);
}
