// Font families
// Serif font
.#{Syntax(font)}-serif {
  font-family: serif;
}

// Sans-serif font
.#{Syntax(font)}-sans {
  font-family: sans-serif;
}

// Arial font
.#{Syntax(font)}-arial {
  font-family: Arial, Helvetica, sans-serif;
}
