// Font families
// Serif font
.font-serif {
  font-family: serif;
}

// Sans-serif font
.font-sans {
  font-family: sans-serif;
}

// Arial font
.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}
