@import '../variables/variables';

.object{
  width:100%;
  max-width:75rem;
  margin:0 auto;
  padding:0 1.25rem;
  box-sizing: border-box;
}

.row{
  display:flex;
  flex-flow: row wrap;
}

$num-grid : 0;
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    box-sizing: border-box;
    flex-grow:0;
    width : 100%/$grid-columns rem;
  }
}