input {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
}


// check button
input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    background-color: Get-Color('primary');
    border: 0.5rem solid Get-Color('dark');
    /* Thick and light border */
    border-radius: 1rem;
    /* Curvy border */
    box-shadow: 0 0 0.625 Get-Color('dark');
}
input[type="checkbox"]:hover {
    color: Get-Color('gray');
}