<nav class="navbar bg-leaf">
    <div class="logo">Blog Name</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label> <!--Hamburger for navbar-->

        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </div>
    </ul>
</nav>
<div class="grid">
    <div class="grid-item box">
        <div class="left ">
            <div class="box">
                <h1 class="">Home Page</h1>
            </div>

            <text>This is a small description of this home page</text>

            <form>
                <input placeholder="Subscribe to the NewsTeller" />
                <button type="submit" class="btn bg-leaf" href="#">Button</button>
            </form>
        </div>

        <div class="right">
            <img src="https://avatars.githubusercontent.com/u/115872354?v=4" alt="img" class="right">
            This is a image
        </div>
    </div>

</div>