@mixin box() {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.box {
    @extend .flex;
    @include box();

    .center-box {
        justify-content: center;
        align-items: center;
    }
}