// Box Mixin
@mixin box() {
  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

// Box Class
.box {
  @include box();

  .center-box {
    justify-content: center;
    align-items: center;
  }
}
