/* Remove this switch when in use */
.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    text-align: center;
}

/* The switch - the box around the slider */
.switch-container {
    width: 100%;
    max-width: 14rem;
    height: 5rem;
    position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch {
    width: 100%;
    height: 100%;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative; /* Added */
}

/* The slider */
.slider {
    width: 27px;
    height: 27px;
    position: absolute;
    left: calc(50% - 27px/2 - 10px);
    top: calc(50% - 27px/2);
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

/* Apply styles from checkbox or container to switch or switch box */
.switch-container .checkbox:checked + .switch {
    background-color: #34C759;
}

.switch-container .checkbox:checked + .switch .slider {
    left: calc(50% - 27px/2 + 10px);
    top: calc(50% - 27px/2);
}
