@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.cdnfonts.com/css/georgia");
* {
  margin: 10px;
  padding: 10px;
  font-family: "Arial", sans-serif; }

h {
  font-family: "Georgia", serif;
  font-weight: bold; }

text {
  font-family: "Helvetica", serif; }
