@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display:ital@1&display=swap");
@use 'sass:math';
.font-serif {
  font-family: serif; }

.font-sans {
  font-family: sans-serif; }

.font-arial {
  font-family: Arial, Helvetica, sans-serif; }

.font-primary {
  color: #0074d9; }

.font-dark {
  color: #000000; }

.font-alert {
  color: #dc143c; }

.font-leaf {
  color: #228b22; }

.font-orange {
  color: #ff4500; }

.font-yellow {
  color: #ffd700; }

.font-gray {
  color: #708090; }

.font-purple {
  color: #967bb6; }

.font-choco {
  color: #d2691e; }

.font-pink {
  color: #ff69b4; }

.font-white {
  color: #ffffff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

ul[role="list"],
ol[role="list"] {
  list-style: none; }

body {
  min-height: 100vh;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1; }

h1,
h2,
h3,
h4 {
  text-wrap: balance; }

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

textarea:not([rows]) {
  min-height: 10em; }

:target {
  scroll-margin-block: 5ex; }

.lazy-load, * {
  content-visibility: auto; }

.no-lazy-load {
  content-visibility: visible; }

body {
  font-size: 16px; }

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px; } }

@media only screen and (min-width: 992px) {
  body {
    font-size: 20px; } }

.font-serif {
  font-family: serif; }

.font-sans {
  font-family: sans-serif; }

.font-arial {
  font-family: Arial, Helvetica, sans-serif; }

.font-primary {
  color: #0074d9; }

.font-dark {
  color: #000000; }

.font-alert {
  color: #dc143c; }

.font-leaf {
  color: #228b22; }

.font-orange {
  color: #ff4500; }

.font-yellow {
  color: #ffd700; }

.font-gray {
  color: #708090; }

.font-purple {
  color: #967bb6; }

.font-choco {
  color: #d2691e; }

.font-pink {
  color: #ff69b4; }

.font-white {
  color: #ffffff; }

button {
  cursor: pointer;
  outline: 0;
  color: #ffffff;
  background-color: #0074d9;
  border-color: #0074d9;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 0.0625rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem; }
  button:hover {
    color: #ffffff;
    background-color: #708090;
    border-color: #708090; }

.btn-curve {
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  background: #0074d9;
  color: #ffffff; }
  .btn-curve:hover {
    color: #ffffff;
    background-color: #708090;
    border-color: #708090; }

.btn-bootstrap {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0074d9;
  border-color: #0074d9; }
  .btn-bootstrap:hover {
    color: #ffffff;
    background-color: #708090;
    border-color: #708090; }

.btn-circle {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #228b22;
  height: 48px; }
  .btn-circle:hover {
    background-color: #708090; }

.neumorphic-button {
  background-color: #e0e0e0;
  /* Light background color */
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #ffffff;
  /* Neumorphic shadow */ }
  .neumorphic-button:hover {
    box-shadow: 8px 8px 15px #cbced1, -8px -8px 15px #ffffff;
    /* Slightly larger shadow on hover */ }

.bg-primary {
  background-color: #0074d9 !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-alert {
  background-color: #dc143c !important; }

.bg-leaf {
  background-color: #228b22 !important; }

.bg-orange {
  background-color: #ff4500 !important; }

.bg-yellow {
  background-color: #ffd700 !important; }

.bg-gray {
  background-color: #708090 !important; }

.bg-purple {
  background-color: #967bb6 !important; }

.bg-choco {
  background-color: #d2691e !important; }

.bg-pink {
  background-color: #ff69b4 !important; }

.bg-white {
  background-color: #ffffff !important; }

.b-primary {
  border: 0.1rem solid #0074d9; }

.b-dark {
  border: 0.1rem solid #000000; }

.b-alert {
  border: 0.1rem solid #dc143c; }

.b-leaf {
  border: 0.1rem solid #228b22; }

.b-orange {
  border: 0.1rem solid #ff4500; }

.b-yellow {
  border: 0.1rem solid #ffd700; }

.b-gray {
  border: 0.1rem solid #708090; }

.b-purple {
  border: 0.1rem solid #967bb6; }

.b-choco {
  border: 0.1rem solid #d2691e; }

.b-pink {
  border: 0.1rem solid #ff69b4; }

.b-white {
  border: 0.1rem solid #ffffff; }

.b-curve-primary {
  border: 0.1rem solid #0074d9;
  border-radius: 1rem; }

.b-curve-dark {
  border: 0.1rem solid #000000;
  border-radius: 1rem; }

.b-curve-alert {
  border: 0.1rem solid #dc143c;
  border-radius: 1rem; }

.b-curve-leaf {
  border: 0.1rem solid #228b22;
  border-radius: 1rem; }

.b-curve-orange {
  border: 0.1rem solid #ff4500;
  border-radius: 1rem; }

.b-curve-yellow {
  border: 0.1rem solid #ffd700;
  border-radius: 1rem; }

.b-curve-gray {
  border: 0.1rem solid #708090;
  border-radius: 1rem; }

.b-curve-purple {
  border: 0.1rem solid #967bb6;
  border-radius: 1rem; }

.b-curve-choco {
  border: 0.1rem solid #d2691e;
  border-radius: 1rem; }

.b-curve-pink {
  border: 0.1rem solid #ff69b4;
  border-radius: 1rem; }

.b-curve-white {
  border: 0.1rem solid #ffffff;
  border-radius: 1rem; }

.neumorphic-border {
  border: 1px solid #cbced1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #ffffff; }

/* Set the base font size for the root element. */
html {
  font-size: 16px; }

/* Base styles for all elements. */
* {
  margin: 0.1rem;
  padding: 0.1rem;
  font-family: "Poppins", sans-serif; }

/* Define font-size utility classes for heading tags. */
h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

/* Font family for text. */
text {
  font-family: "Crimson Text", serif; }

/* Styles for anchor tags. */
a {
  text-decoration: none;
  cursor: pointer; }

/* List styles for ordered and unordered lists. */
ol {
  list-style: decimal; }

ul {
  list-style: circle; }

/* Styles for list items. */
li {
  display: inline-block;
  margin-right: 0.625rem; }

/* Styles for hyperlink hover. */
.link:hover {
  color: #708090; }

/* Styles for horizontal ruler. */
hr {
  padding: 0rem;
  border-top: 0.0625rem solid #000000; }

/*make Neumorphism*/
/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  /* Background color */ }

.neumorphic-heading {
  font-size: 24px;
  margin-bottom: 10px; }

.neumorphic-paragraph {
  font-size: 16px;
  margin-bottom: 20px; }

.pd-0 {
  padding: 0rem; }

.pd-1 {
  padding: 1rem; }

.pd-2 {
  padding: 2rem; }

.pd-3 {
  padding: 3rem; }

.pd-4 {
  padding: 4rem; }

.pd-top-0 {
  padding-top: 0rem; }

.pd-top-1 {
  padding-top: 1rem; }

.pd-top-2 {
  padding-top: 2rem; }

.pd-top-3 {
  padding-top: 3rem; }

.pd-top-4 {
  padding-top: 4rem; }

.pd-bottom-0 {
  padding-bottom: 0rem; }

.pd-bottom-1 {
  padding-bottom: 1rem; }

.pd-bottom-2 {
  padding-bottom: 2rem; }

.pd-bottom-3 {
  padding-bottom: 3rem; }

.pd-bottom-4 {
  padding-bottom: 4rem; }

.pd-right-0 {
  padding-right: 0rem; }

.pd-right-1 {
  padding-right: 1rem; }

.pd-right-2 {
  padding-right: 2rem; }

.pd-right-3 {
  padding-right: 3rem; }

.pd-right-4 {
  padding-right: 4rem; }

.pd-left-0 {
  padding-left: 0rem; }

.pd-left-1 {
  padding-left: 1rem; }

.pd-left-2 {
  padding-left: 2rem; }

.pd-left-3 {
  padding-left: 3rem; }

.pd-left-4 {
  padding-left: 4rem; }

.pd-x-0 {
  padding-right: 0rem;
  padding-left: 0rem; }

.pd-x-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.pd-x-2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.pd-x-3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.pd-x-4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.pd-y-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.pd-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pd-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pd-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pd-y-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.mg-0 {
  margin: 0rem; }

.mg-1 {
  margin: 1rem; }

.mg-2 {
  margin: 2rem; }

.mg-3 {
  margin: 3rem; }

.mg-4 {
  margin: 4rem; }

.mg-top-0 {
  margin-top: 0rem; }

.mg-top-1 {
  margin-top: 1rem; }

.mg-top-2 {
  margin-top: 2rem; }

.mg-top-3 {
  margin-top: 3rem; }

.mg-top-4 {
  margin-top: 4rem; }

.mg-bottom-0 {
  margin-bottom: 0rem; }

.mg-bottom-1 {
  margin-bottom: 1rem; }

.mg-bottom-2 {
  margin-bottom: 2rem; }

.mg-bottom-3 {
  margin-bottom: 3rem; }

.mg-bottom-4 {
  margin-bottom: 4rem; }

.mg-right-0 {
  margin-right: 0rem; }

.mg-right-1 {
  margin-right: 1rem; }

.mg-right-2 {
  margin-right: 2rem; }

.mg-right-3 {
  margin-right: 3rem; }

.mg-right-4 {
  margin-right: 4rem; }

.mg-left-0 {
  margin-left: 0rem; }

.mg-left-1 {
  margin-left: 1rem; }

.mg-left-2 {
  margin-left: 2rem; }

.mg-left-3 {
  margin-left: 3rem; }

.mg-left-4 {
  margin-left: 4rem; }

.mg-x-0 {
  margin-right: 0rem;
  margin-left: 0rem; }

.mg-x-1 {
  margin-right: 1rem;
  margin-left: 1rem; }

.mg-x-2 {
  margin-right: 2rem;
  margin-left: 2rem; }

.mg-x-3 {
  margin-right: 3rem;
  margin-left: 3rem; }

.mg-x-4 {
  margin-right: 4rem;
  margin-left: 4rem; }

.mg-y-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mg-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mg-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mg-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mg-y-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

/* Utility classes for scaling size using mixin */
.size-0 {
  transform: scale(0); }

.size-1 {
  transform: scale(1); }

.size-2 {
  transform: scale(2); }

.size-3 {
  transform: scale(3); }

.size-4 {
  transform: scale(4); }

.size-01 {
  transform: scale(0.1); }

.size-02 {
  transform: scale(0.2); }

.size-03 {
  transform: scale(0.3); }

.size-04 {
  transform: scale(0.4); }

.size-05 {
  transform: scale(0.5); }

.size-06 {
  transform: scale(0.6); }

.size-07 {
  transform: scale(0.7); }

.size-08 {
  transform: scale(0.8); }

.size-09 {
  transform: scale(0.9); }

.inline-flex {
  display: inline-flex; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.flex {
  display: flex; }
  .flex .flex-item {
    flex: 1; }
  .flex .flex-row {
    flex-direction: row; }
  .flex .flex-col {
    flex-direction: column; }
  .flex .flex-wrap {
    flex-wrap: wrap; }
  .flex .flex-start {
    justify-content: flex-start; }
  .flex .flex-end {
    justify-content: flex-end; }
  .flex .flex-center {
    justify-content: center; }
  .flex .flex-stretch {
    justify-content: stretch; }
  .flex .flex-space {
    justify-content: space-around; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; }

.left {
  float: left;
  width: 18.75rem;
  padding: 0.625rem; }

.right {
  float: right;
  width: 18.75rem;
  padding: 0.625rem; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 100%;
      padding-left: 1rem;
      padding-right: 1rem; } }

.column {
  float: left;
  margin: 0 0.5rem; }
  @media screen and (max-width: 768px) {
    .column {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media screen and (max-width: 768px) {
  .col-1 {
    width: 100%; }
  .col-2 {
    width: 100%; }
  .col-3 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  .col-7 {
    width: 100%; }
  .col-8 {
    width: 100%; }
  .col-9 {
    width: 100%; }
  .col-10 {
    width: 100%; }
  .col-11 {
    width: 100%; }
  .col-12 {
    width: 100%; } }

.card {
  display: block;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 0.75rem;
  width: 100%;
  max-width: 40%;
  overflow: hidden; }
  .card .card-title {
    font-size: 1rem;
    padding-bottom: 0.75rem;
    font-weight: bold; }
  .card .card-body {
    font-size: 1rem; }
    .card .card-body a {
      text-decoration: underline; }

.neumorphic-card {
  background-color: #e0e0e0;
  /* Light background color */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
  /* Neumorphic shadow */ }
  .neumorphic-card:hover {
    box-shadow: 8px 8px 15px #cbced1, -8px -8px 15px #ffffff;
    /* Slightly larger shadow on hover */ }

.box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  .box .center-box {
    justify-content: center;
    align-items: center; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0074d9;
  color: #ffffff; }

.nav-links a {
  color: #ffffff; }

/* Logo Styles / Font Size */
.logo {
  font-size: 32px; }

/* Navbar Menu Styles */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px; }

.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease; }

.menu li {
  padding: 5px 14px; }

/* Dropdown Menu Styles */
.services {
  position: relative; }

.dropdown {
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px; }

.dropdown li + li {
  margin-top: 10px; }

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center; }

.dropdown li:hover {
  transition: 0.3s ease; }

.services:hover .dropdown {
  display: block; }

input[type="checkbox"] {
  display: none; }

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none; }

/* Media Queries */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0; }
  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease; }
  .menu li + li {
    margin-top: 12px; }
  input[type="checkbox"]:checked ~ .menu {
    display: block; }
  .hamburger {
    display: block; }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%); }
  .dropdown li:hover {
    /* Your Styles */ } }

footer {
  padding: 40px 0;
  background-color: #ffffff;
  color: #708090; }
  footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0; }
    footer ul li {
      padding: 0 10px; }
    footer ul a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8; }
      footer ul a:hover {
        opacity: 1; }
  footer .social {
    text-align: center;
    padding-bottom: 25px; }
    footer .social > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 0 8px;
      color: inherit;
      opacity: 0.75; }
      footer .social > a:hover {
        opacity: 0.9; }
  footer .copyright {
    color: #708090;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0; }

/* Mixin to set background color based on attribute */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

/* Use the mixin to set background color */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.neumorphic-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .neumorphic-toggle input {
    opacity: 0;
    width: 0;
    height: 0; }
  .neumorphic-toggle-label {
    position: absolute;
    cursor: pointer;
    width: 100%; }

input {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1rem;
  cursor: pointer; }

input[type="checkbox"] {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #0074d9;
  border: 0.5rem solid #000000;
  /* Thick and light border */
  border-radius: 1rem;
  /* Curvy border */
  box-shadow: 0 0 0.625 #000000; }

input[type="checkbox"]:hover {
  color: #708090; }

.neumorphic-input {
  background-color: #e0e0e0;
  /* Light background color */
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #ffffff;
  /* Neumorphic inset shadow */ }
  .neumorphic-input:hover {
    box-shadow: 8px 8px 15px #cbced1, -8px -8px 15px #ffffff;
    /* Slightly larger shadow on hover */ }
