// @import '../variables/variables.scss';

//import reset css
@import './reset';

//fonts
@import '../fonts/fonts.scss';

//importing buttons
@import './button';

//import colors 
@import './color';

//import border
@import './border/border';

//import breakpoints
@import './breakpoint';

html {
    font-size: 16px; // root element size
}

*{
    //base
    margin:$default-margin;
    padding:$default-padding;

    //font
    font-family: $default-font;

}

// css for all h tags
// Define font-size utility classes for heading tags
h1 {
      font-size: 2rem; 
    }
h2 {
      font-size: 1.5rem; 
    }
h3 {
      font-size: 1.25rem; 
    }
h4 {
      font-size: 1rem; 
    }
h5 {
      font-size: 0.875rem; 
    }
h6 {
      font-size: 0.75rem;
    }
  
  



text {
    font-family: $text-font;
}


a{
  text-decoration: none;
  cursor:pointer;
}


ol{
	list-style: decimal;
}

ul{
	list-style: circle;
}

li{
	display: inline-block;
	margin-right: 0.625rem;
}

.link:hover{
	color:Get-Color('gray');
}


hr{
	padding : 0rem;
	border-top: 0.0625rem solid Get-Color('dark');	
}

