

/* Set the base font size for the root element. */
html {
  font-size: 16px; // root element size
}

/* Base styles for all elements. */
* {
  //base
  margin: $default-margin;
  padding: $default-padding;

  //font
  font-family: $default-font;

  // lazy load (default)
  @if(Syntax(lazy-load)){
    @extend .lazy-load;
  }
}

/* Define font-size utility classes for heading tags. */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

/* Font family for text. */
text {
  font-family: $text-font;
}

/* Styles for anchor tags. */
a {
  text-decoration: none;
  cursor: pointer;
}

/* List styles for ordered and unordered lists. */
ol {
  list-style: decimal;
}

ul {
  list-style: circle;
}

/* Styles for list items. */
li {
  display: inline-block;
  margin-right: 0.625rem;
}

/* Styles for hyperlink hover. */
.link:hover {
  color: Get-Color("gray");
}

/* Styles for horizontal ruler. */
hr {
  padding: 0rem;
  border-top: 0.0625rem solid Get-Color("dark");
}





// @import '../variables/variables.scss';

//import reset css
@import "./reset";

// optimizations for NextGen
@import "./optimizations";

//import breakpoints
@import "./breakpoint";

//fonts
@import "../fonts/fonts.scss";

//importing buttons
@import "./button";

//import colors
@import "./color";

//import border
@import "./border/border";