// Styles for default (no media query)
body {
  font-size: 16px;
}

  @media screen and (min-width: $xs) {
    body {
      font-size: 18px;
    }
  }

  @media screen and (min-width: $sm) {
    body {
      font-size: 20px;
    }
  }


  @media screen and (min-width: $md) {
    body {
      font-size: 22px;
    }
  }

  @media screen and (min-width: $lg) {
    body {
      font-size: 24px;
    }
  }


@mixin xl {
  @media screen and (min-width: $xl) {
    body {
      font-size: 22px;
    }
  }
}