// Styles for default (no media query)
body {
  font-size: 16px;
}
// Mobile styles
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px; // Adjust as needed
  }
}

// Tablet styles
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px; // Adjust as needed
  }
}

// Desktop styles
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px; // Adjust as needed
  }
}