// Button mixin for common styles
@mixin button($bg-color, $text-color: white, $hover-bg-color: darken($bg-color, 10%)) {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  background-color: $bg-color;
  border: 1px solid $bg-color;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: $text-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
  }
}

// Default button style
.#{Syntax(button)}-default {
  @include button($primary);
}

// Curve edge button style
.#{Syntax(button)}-curve {
  @include button($success);
  border-radius: 2rem;
}

// Bootstrap-like button style
.#{Syntax(button)}-bootstrap {
  @include button($warning, #f39c12, #d35400);
}

// Circular button style
.#{Syntax(button)}-circle {
  @include button($success);
  border-radius: 50%;
  min-width: 160px;
}

// Secondary button style
.#{Syntax(button)}-secondary {
  @include button($gray);
}

// Danger button style
.#{Syntax(button)}-danger {
  @include button($alert);
}

// Custom color button style
@each $color, $value in $colors-list {
  .#{Syntax(button)}-color-#{$color} {
    @include button($value);
  }
}

// Simple button style
.#{Syntax(button)}-simple {
  font-size: 1.7rem;
  padding: 3rem;
  border: 0.125rem solid black;
  font-weight: 500;
  font-family: "Poppins", "Times New Roman", Times, serif;
  background-color: $dark;
  color: $primary;

  &:hover {
    // background-color: black;
    opacity : 0.5;
    color: white;
  }
}
