// Box Sizing Rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Prevent Font Size Inflation
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

// Remove Default Margin for Better Control in Authored CSS
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// Remove List Styles on UL and OL Elements with a List Role
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

// Set Core Body Defaults
body {
  min-height: 100vh;
  line-height: 1.5;
}

// Set Shorter Line Heights on Headings and Interactive Elements
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

// Balance Text Wrapping on Headings
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

// Default Styling for Unclassed Anchor Elements
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

// Make Images Flexible
img,
picture {
  max-width: 100%;
  display: block;
}

// Inherit Fonts for Inputs and Buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Ensure Textareas without Rows Attribute Are Usable
textarea:not([rows]) {
  min-height: 10em;
}

// Add Extra Scroll Margin for Anchored Elements
:target {
  scroll-margin-block: 5ex;
}
